html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

@keyframes bounce {
	0% {
		transform: scale(0.1);
	}

	100% {
		transform: scale(1);
	}
}

.index-body,
.catalog_creamy-body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #ffffff;
	background-color: #849d8f;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.popup {
	padding: 0;
	margin: 0;
	padding: 20px 17px;
	border-radius: 6px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.show-popup {
	display: block;
	animation: bounce 0.5s;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
textarea {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.52);
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	background-color: #ffffff; 
	padding-left: 15px;
	outline: none;
	padding: 9px;
	padding-left: 14px;
	width: 100%;
}

input[type='text']:hover,
input[type='search']:hover,
input[type='email']:hover,
input[type='password']:hover,
textarea:hover {
	box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
	outline: none;
}

input[type='text']:active,
input[type='text']:focus,
input[type='search']:active,
input[type='search']:focus,
input[type='email']:active,
input[type='email']:focus,
input[type='password']:active,
input[type='password']:focus,
textarea:active,
textarea:focus {
	box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
	outline: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}

/* Начало шапки */

header.container {
	padding-top: 9px;
}

.container.creamy {
	margin-bottom: 2px;
}

.main-navigation {
	width: 560px;
	margin: 0;
	padding: 0;
	line-height: 18px;
	color: #ffffff;
	list-style: none;
	display: flex;
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
}

.header-logo {
	width: 154px;
	height: 64px;
}

.site-navigation,
.user-navigation,
.nav-catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.site-navigation > li,
.site-navigation .active {
	padding: 7px 14px;
	margin-bottom: 5px;
}

.site-navigation > li:not(.active):hover,
.site-navigation > li:not(.active):focus {
	background-color: #ffffff;
	border-radius: 50px;
	text-decoration: none;
}

.site-navigation > li:not(.active):hover > a,
.site-navigation > li:not(.active):focus > a {
	color: #333333;
}

.site-navigation .active {
	box-sizing: border-box;
	background-color: #d07058;
	border-radius: 50px;
	color: #ffffff;	
}

.site-navigation > li:active {
	background-color: #ffffff;
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.site-navigation > li > a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-catalog-list {
	display: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 143px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.nav-catalog-item {
	position: relative;
}

.nav-catalog-item::before {
	position: absolute;
	content: '';
	width: 89px;
	height: 5px;
	top: 32px;
	left: 0;
}

.nav-catalog-item:hover .nav-catalog-list {
	display: block;
	position: absolute;
	top: 36px;
	left: -5px;
}

.nav-catalog-list li:first-child a {
	font-weight: 700;
	padding-top: 12px;
	padding-bottom: 12px;
}

.nav-catalog-list li:first-child::after {
	content: '';
	width: 90%;
	height: 1px;
	background-color: rgba(53, 53, 53, 0.2);
	position: absolute;
	margin: 0 5px;
	top: 39px;
}

.nav-catalog-list a {
	color: #323232;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	display: block;
	padding: 9px 20px;
}

.nav-catalog-list li:hover a,
.nav-catalog-list li:focus a {
	background-color: #fbded7;
	border-radius: 0;
	color: #323232;
}

.nav-catalog-list li a:active {
	background-color: #d07058;
}

.user-navigation {
	width: 267px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.user-navigation > li {
	margin-bottom: 5px;
}

.user-navigation > li:hover .user-nav-button,
.user-navigation > li:focus .user-nav-button {
	color: #323232;
}

.user-navigation > li:not(:first-child) {
	margin-left: 10px;
}

.user-navigation svg,
.user-navigation button {
	cursor: pointer;
}

.user-nav-button {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font: inherit;
}

.header-button-cell {
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	border-radius: 50px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.header-button-cell:hover,
.header-button-cell:focus {
	background-color: #f8f7f4;
	color: #323232;
}

.search-item{
	height: 32px;
	width: 32px;
	padding: 7px;
	position: relative;
}

.search-item button {
	font-size: 0;
	position: absolute;
	width: 32px;
	height: 37px;
	left: 0;
	top: 0;
}

.search-item:hover path,
.search-item:focus path {
	fill: #000000;
}

.search-form {
	display: none;
	position: absolute;
	top: 35px;
	left: -308px;
	width: 342px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	cursor: default;
}

.search-item:hover .search-form,
.search-item:focus .search-form {
	display: block;
}

.login-item:hover .login-block,
.login-item:focus .login-block {
	display: block;
	top: 35px;
	left: -183px;
}

.login-item {
	position: relative;
	width: 92px;
	padding: 7px 10px 7px 38px;
}

.login-item::before {
	position: absolute;
	content: '';
	width: 92px;
	height: 5px;
	top: 32px;
	left: 0;
}

.login-item svg {
	position: absolute;
	top: 6px;
	left: 17px;
}

.login-item:hover g,
.login-item:focus g {
	fill: #000000;
}

.login-item input[type='email'],
.login-item input[type='password'] {
	width: 100%;
	margin-bottom: 20px;
}

.login-block a:hover {
	color: #ffbc9e;
	text-decoration: underline rgba(255, 188, 158, 0.3);
}

.login-block {
	display: none;
	position: absolute;
	width: 277px;
}

.login-form .button {
	padding: 11px 25px;
	float: left;
}

.menu-login-forgot_password,
.menu-login-registration {
	color: #323232;
	text-decoration: underline #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	padding-left: 20px;
}

.basket-item {
	width: 117px;
	padding: 7px 13px 7px 44px;
	position: relative;
}

.creamy .basket-item {
	padding: 8px 13px 8px 44px
}

.basket-item::before {
	position: absolute;
	content: '';
	width: 117px;
	height: 5px;
	top: 32px;
	left: 0;
}

.basket-item svg {
	position: absolute;
	top: 7px;
	left: 16px;	
}

.basket-item .adds {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
}

.basket-item:hover g,
.basket-item:focus g{
	fill: #000000;
}

.basket-item.adds button {
	margin: 0;
	padding: 0;
}

.basket-item.adds:hover .basket-form,
.basket-item.adds:focus .basket-form {
	display: block;
}

.basket-form {
	display: none;
	position: absolute;
	top: 36px;
	left: -420px;
	width: 540px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 20px 16px 21px;
	color: #323232;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	z-index: 2;
	cursor: default;
}

.basket-form-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.basket-form-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.basket-form-item .description {
	margin-left: 13px;
	display: inline-block;
	width: 230px;
}

.basket-form-item img {
	margin-left: 14px;
	border-radius: 50px;
}

.remove-basket-item {
	padding: 0;
	margin: 0;
	width: 11px;
	height: 11px;
	font-size: 0;
	border: none;
	background-color: #f8f7f4;
	background-image: url('../img/png/x.png');
	background-position: center;
	background-repeat: no-repeat;
}

.basket-price {
	color: #999999;
}

.basket-amount,
.basket-item_price {
	margin: 0 auto;
}

.basket-total {
	display: block;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	margin-bottom: 15px;
	margin-top: 15px;
}

.basket-form .button {
	float: right;
	display: block;
	padding: 10px 14px;
	text-align: right;
}

.header-worktime,
.header-tel-wrapper {
	display: block;
	text-align: right;
}

.header-worktime {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
}

.header-tel-wrapper {
	text-align: right;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 274px;
}

.creamy .header-tel-wrapper {
	margin-bottom: 0;
	order: 1;
} 

.breadcrumbs-wrapper {
	display: flex;
	justify-content: space-between;
}

.catalog_creamy-breadcrumbs {
	margin: 0;
	padding: 0;
	align-self: flex-end;
	display: flex;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	margin-bottom: 3px;
}

.catalog_creamy-breadcrumbs a:hover {
	color: #ffbc9e;
	text-decoration: underline rgba(255, 188, 158, 0.3);
}
.catalog_creamy-breadcrumbs a {
	text-decoration: underline rgba(255, 255, 255, 0.4);
}


.catalog_creamy-breadcrumbs li:not(:first-child) {
	margin-left: 7px;
}

/* Конец шапки*/


/* Начало основного блока */

main.catalog {
	font-weight: 500;
}

.catalog_creamy-list-name {
	padding: 0;
	margin: 0;
	margin-bottom: 22px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog-sort {
	position: relative;
	width: 860px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-sort input,
.catalog-sort select,
.catalog-sort option {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.form-style {
	padding: 7px 14px;
	margin: 0;
	border: none;
	background-color: rgba(248, 247, 244, 0.2);
	color: #ffffff;
	border-radius: 50px;
	margin-top: 5px;
}

.sort-type-label {
	position: relative;
}

.sort-type {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding:8px 33px 8px 15px;
}

.sort-arrow {
	position: absolute;
	top: 40px;
	right: 16px;
	z-index: 1;
}

.sort-arrow polyline {
	fill: #ffffff;
}

.sort-type:hover + .sort-arrow  polyline,
.sort-type:focus + .sort-arrow  polyline,
.sort-type:active + .sort-arrow  polyline {
	fill: #323232;
}

.sort-type:hover,
.sort-type:active,
.sort-type:focus {
	background-color: #ffffff;
	color: #000000;
}

.sort-type option {
	color: #000000;
}

.catalog-sort label,
.catalog-sort > div {
	display: inline-block;
}

.catalog-sort b {
	padding-left: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
}

.catalog-sort > label,
.catalog-sort > div:not(.milk-fat-box) {
	margin-right: 14px;
}

.catalog-sort > label:first-child {
	width: 195px;
}

.range-block b{
	padding-left: 14px;
}

.range-controls {
	position: relative;
	padding: 16px 21px;
	width: 217px;
}

.range-controls .scale {
	height: 4px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 100px;
	height: 4px;
	margin-left: 18px;
	background: #ffffff;
}

.range-toggle {
	width: 20px;
	height: 20px;
	position: absolute;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 33px;
	top: 7px;
}

.range-toggle-max {
	right: 66px;
	top: 7px;
}

.milk-fat-wrapper {
	padding: 7px 15px 7px 18px;
	width: 100%;
}

.milk-fat-wrapper label:not(:last-child) {
	margin-right: 15px;
}

.milk-fat-box {
	margin-right: 0;
}

.milk-fat-wrapper label::before {
	content: '';
	position: relative;
	display: inline-block;
	top: 1px;
	width: 15px;
	height: 15px;
	margin: 0 16px 0 0;
	background-color: #9db1a5;
	border: 3px solid #9db1a5;
	border-radius: 50%;
	box-shadow: 0px 0px 0 4px #ffffff;
	transition: background-color 0.2s;
	cursor: pointer;
	opacity: 0.8;
}

.milk-fat-wrapper label:hover::before {
	opacity: 1;
}

#milk-fat-1:checked ~ .milk-fat-wrapper label[for='milk-fat-1']::before,
#milk-fat-2:checked ~ .milk-fat-wrapper label[for='milk-fat-2']::before,
#milk-fat-3:checked ~ .milk-fat-wrapper label[for='milk-fat-3']::before,
#milk-fat-4:checked ~ .milk-fat-wrapper label[for='milk-fat-4']::before {
	background-color: #ffffff;
}

.catalog-sort > div:last-of-type {
	width: 700px;
}

.filler-box {
	margin-top: 11px;
}

.filler-wrapper {
	width: 700px;
	margin-right: 15px;
}

.filler-wrapper label {
	position: relative;
	padding-left: 33px;
	margin-right: 18px;
	line-height: 18px;
}

.filler-wrapper label:nth-child(3) {
	padding-left: 36px;
	margin-right: 21px;
}

.filler-wrapper label:nth-child(4) {
	padding-left: 34px;
}

.filler-wrapper label:last-child {
	padding-left: 35px;
	margin-right: 0;
}

.filler-wrapper label::before {
	content: '';
	position: absolute;
	background-image: url('../img/svg/checkbox-off.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 24px 20px;
	top: -1px;
	left: 0;
	width: 24px;
	height: 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
}

.filler-wrapper label:hover::before {
	opacity: 1;
}

#filler-1:checked ~ .filler-wrapper label[for='filler-1']::before,
#filler-2:checked ~ .filler-wrapper label[for='filler-2']::before,
#filler-3:checked ~ .filler-wrapper label[for='filler-3']::before,
#filler-4:checked ~ .filler-wrapper label[for='filler-4']::before,
#filler-5:checked ~ .filler-wrapper label[for='filler-5']::before {
	background-image: url('../img/svg/checkbox-on.svg');
	background-repeat: no-repeat;
	background-size: 24px;
	background-position-x: 2px;
	opacity: 0.8;
}

#filler-1:checked ~ .filler-wrapper label[for='filler-1']:hover::before,
#filler-2:checked ~ .filler-wrapper label[for='filler-2']:hover::before,
#filler-3:checked ~ .filler-wrapper label[for='filler-3']:hover::before,
#filler-4:checked ~ .filler-wrapper label[for='filler-4']:hover::before,
#filler-5:checked ~ .filler-wrapper label[for='filler-5']:hover::before {
	opacity: 1;
}

.catalog-sort .sort-submit {
	display: inline-block;
	border: 2px solid #ffffff;
	background-color: rgba(248, 247, 244, 0.2);
	color: white;
	font-weight: 500;
	align-self: flex-end;
	padding: 8px 28px;
	cursor: pointer;
}

.catalog-sort .sort-submit:hover,
.catalog-sort .sort-submit:focus {
	background-color: #ffffff;
	color: #000000;
}

.catalog-sort .sort-submit:active {
	border: 1px solid transparent;
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}



.site-wrapper {
	min-width: 1240px;
	background-color: #849d8f;
	background-image: url('../img/png/gallery-item-1.png');
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease-in, background-color 0.5s ease-in;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/png/gallery-item-2.png");
}

.site-wrapper::after {
	background-image: url("../img/png/gallery-item-3.png");
}

#gallery-product-1:checked ~ .site-wrapper #gallery-slide-1,
#gallery-product-2:checked ~ .site-wrapper #gallery-slide-2,
#gallery-product-3:checked ~ .site-wrapper #gallery-slide-3 {
	display: block;
}

#gallery-product-1:checked ~ .site-wrapper label[for='gallery-product-1'],
#gallery-product-2:checked ~ .site-wrapper label[for='gallery-product-2'],
#gallery-product-3:checked ~ .site-wrapper label[for='gallery-product-3'] {
	background-color: #ffffff;
}

.site-wrapper label[for='gallery-product-1']:hover,
.site-wrapper label[for='gallery-product-2']:hover,
.site-wrapper label[for='gallery-product-3']:hover {
	background-color: rgba(248, 247, 244, 0.4);
}

#gallery-product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url('../img/png/gallery-item-1.png');
}

#gallery-product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url('../img/png/gallery-item-2.png');
}

#gallery-product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url('../img/png/gallery-item-3.png');
}

.gallery {
	position: relative;
	text-align: center;
	color: #ffffff;
}

.gallery-switch {
	position: absolute;
	left: 0;
	z-index: 2;
	font-size: 0;
	bottom: 60px;
}

.gallery-switch label{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 9px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.gallery-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery-list li {
	display: none;
}

.gallery-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.button {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-weight: 700;
	border: none;
	background: #e74a35;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	text-decoration: none;
	border-radius: 50px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	cursor: pointer;
	display: inline-block;
}

.gallery-button {
	padding: 12px 43px;
	font-size: 31px;
	line-height: 41px;
	margin-bottom: 40px;
}

.button:hover,
.button:focus {
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
	background: linear-gradient(to bottom, #d84732, #e1613e);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.offer-items {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
}

.offer-items h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
	font-size: 35px;
	line-height: 41px;
}

.offer-item p {
	margin-top: 0;
	margin-bottom: 44px;
	font-size: 18px;
}

.offer-items li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 560px;
	padding: 18px 18px 24px 19px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px;
}

.offer-item:first-child {
	background-color: #83101d;
	background-image: url('../img/jpg/offer-raspberries.jpg');
}

.offer-item:last-child {
	background-color: #52331d;
	background-image: url('../img/jpg/offer-chocolate.jpg');
}

.offer-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-offers .button {
	min-width: 165px;
	padding: 10px 21px;
	align-self: flex-end;
	margin-right: 4px;
}

.catalog-img {
	border-radius: 50%;
}

.catalog-sort {
	margin-bottom: 40px;
}

.catalog-items {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.catalog-items h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
}

.catalog-items a {
	text-decoration: underline rgba(255, 255, 255, 0.4);
}

.catalog-items a:hover {
	color: #ffbc9e;
	text-decoration: underline rgba(255, 188, 158, 0.3);
}

.catalog-items li {
	position: relative;
	width: 267px;
	z-index: 7;
}

.catalog-item:hover {
	z-index: 8;
}

.catalog-item.hit::after {
	content: '';
	width: 61px;
	height: 61px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('../img/svg/hit.svg');
}

.catalog-item:hover::before {
	position: absolute;
	left: -13px;
	top: -6px;
	content: '';
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	opacity: 0.2;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	width: 293px;
	height: 405px;
	z-index: -1;
}

.catalog-item:hover .catalog-item-preview {
	display: block;
}

.catalog-item .catalog-item-preview {
	display: none;
	position: absolute;
	padding: 12px 20px;
	margin: 15px 25px 20px;
	z-index: 2;
}

.catalog-item b {
	padding: 0;
	margin: 0;
	left: 0;
	position: absolute;
	font-size: 45px;
	line-height: 45px;
	bottom: 65px;
}

.catalog-item .price {
	font-weight: 500;
	margin-left: 3px;
}

.catalog-item .amount {
	font-size: 30px;
}

.catalog-items.creamy {
	margin-bottom: 50px;
}

.catalog-items.creamy li {
	margin-bottom: 35px;
}

.catalog-item-link {
	display: block;
	text-align: center;
	z-index: 10;
	margin-top: 8px;
}

.main-features {
	margin: 0;
	margin-bottom: 40px;
	padding: 25px 20px 21px;
	text-align: left;
	background-image: url('../img/jpg/wafer.jpg');
	background-repeat: repeat;
	background-position: center;
	border-radius: 15px;
	box-sizing: border-box;
}

.main-features h3 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	color: #323232;
	margin: 0;
	padding: 0;
}

.features-list li {
	font-weight: 400;
	box-sizing: border-box;
	width: 540px;
	padding: 20px 0 3px 55px;
	background-repeat: no-repeat;
	background-position: left 7px;
}

.features-list li:nth-child(1) {
	background-image: url('../img/svg/ice-cream.svg');
}

.features-list li:nth-child(2) {
	background-image: url('../img/svg/cow.svg');
}

.features-list li:nth-child(3) {
	background-image: url('../img/svg/eco.svg');
}

.features-list li:nth-child(4) {
	background-image: url('../img/svg/thermometer.svg');
}

.main-blog {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.main-blog div {
	box-sizing: border-box;
	width: 560px;
	min-height: 220px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 15px;
}

.main-blog-news {
	padding: 23px 21px;
	background-image: url('../img/jpg/blog.jpg');
	background-position: 204px -36px;
	background-repeat: no-repeat;
}

.main-blog-news h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.main-blog-news a{
	color: #323232;
	text-decoration: underline #323232;
	font-size: 24px;
	line-height: 30px;
}

.main-blog-news a:hover {
	color: #e84d37;
	text-decoration: underline rgba(232, 77, 55, 0.3);
}

.main-feedback_form {
	padding: 34px 25px 40px;
	background-image: url('../img/png/feedback-bg.png');
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-feedback_form input[type='email'] {
	width: 368px;
}

.main-feedback_form p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.main-feedback_form .button {
	width: 128px;
	padding: 8px 18px 11px;
	margin-left: 10px;
}

.main-map {
	background-image: url('../img/jpg/map.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.interactive-map {
	position: absolute;
	width: 100%;
	border: 0;
	z-index: 8;
}

.main-map .container {
	min-height: 430px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.map-pin {
	margin: 0;
	margin-left: 239px;
	margin-bottom: 10px;
	padding: 0;
	width: 80px;
	height: 140px;
	background-image: url('../img/svg/pin.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.contacts {
	width: 302px;
	border-radius: 15px;
	padding: 31px 25px 28px;
	background-color: #fffffe;
	color: #323232;
	align-items: flex-start;
	z-index: 9;
}

.contacts p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #323232;
}

.contacts b {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
}

b.contacts-address {
	margin-bottom: 19px;
}

p.contacts-tel-title {
	margin-bottom: 3px;
}

.contacts-tel a {
	color: inherit;
}

.contacts span {
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 23px;
}

.contacts .button {
	width: 100%;
	padding: 10px 27px;
	margin-bottom: 7px;
}

.block-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9;
}

.show-overlay {
	display: block;
}

.block-feedback-form {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: -238px;
	top: 169px;
	background-color: #f8f7f4;
	border-radius: 10px;
	width: 477px;
	padding: 20px 23px 23px 23px;
	z-index: 10;
}

.show-popup {
	display: block;
}

.block-feedback-form h3 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	margin-bottom: 20px;
}

.block-feedback-form .button {
	width: 138px;
	padding: 9px 24px;
	float: right;
}

.close-feedback_form {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	width: 18px;
	height: 17px;
	color: #000000;
	font-size: 0;
	background-color: transparent;
	background-image: url('../img/png/x-big.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.block-feedback-form input[type='text'] {
	width: 267px;
	margin-bottom: 20px;
}

.block-feedback-form textarea {
	padding-top: 12px;
	width: 428px;
	resize: none;
	margin-bottom: 20px;
}

.catalog_creamy-lists {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 26px;
}
.catalog_creamy-lists li {
	margin-left: 20px;
	position: relative;
}

.catalog_creamy-lists li.active {
	cursor: pointer;
}

.catalog_creamy-lists li.select {
	color: #323232;
}

.catalog_creamy-lists li.select::after{
	content:'';
	left: -9px;
	top: -2px;
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 25;
	background-color: #ffffff;
	border-radius: 50%;
	z-index: -1;
}

.catalog_creamy-lists li.active:hover::after {
	content:'';
	left: -8px;
	top: -2px;
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 25;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	z-index: -1;
}

.catalog-list-item-pver svg{
	transform: rotate(180deg);
}

.catalog-list-item-next a,
.catalog-list-item-pver a{
	font-size: 0;
}

.catalog-list-item-next svg{
	padding-top: 1px;
	padding-left: 1px;
}

.catalog_creamy-lists > li:not(.active) path {
	fill: rgba(255, 255, 255, 0.2);
}

/* Конец основного блока */


/* Начало блока подвала */

.main-footer a {
	text-decoration: underline rgba(255, 255, 255, 0.4);
}

.main-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer {
	min-height: 106px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-feedback-list {
	display: flex;
	padding: 0;
}

.icon-feedback-list li:not(:first-child) {
	margin: 0 0 0 11px;
}

.icon-feedback-list li{
	padding: 0;
	font-size: 0;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;
}

.icon-feedback-list li:nth-child(1) {
	background-image: url('../img/svg/twitter.svg');
}
.icon-feedback-list li:nth-child(2) {
	background-image: url('../img/svg/instagram.svg');
}
.icon-feedback-list li:nth-child(3) {
	background-image: url('../img/svg/fb.svg');
}
.icon-feedback-list li:nth-child(4) {
	background-image: url('../img/svg/vk.svg');
}

.icon-feedback-list li:hover,
.icon-feedback-list li:focus {
	opacity: 1;
	border-color: rgba(255, 255, 255, 0.7);
}

.footer-navigation-list {
	width: 350px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	margin-left: -14px;
	padding: 0;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.footer-navigation-list li {
	width: 165px;
	margin-bottom: 3px;
}


.footer-navigation-list a:hover,
.footer-copyrights a:hover {
	color: #ffbc9e;
	text-decoration: underline rgba(255, 188, 158, 0.3);
}
.footer-navigation-list a,
.footer-copyrights a {
	text-decoration: underline rgba(255, 255, 255, 0.4);
}

.footer-navigation-list li:nth-child(odd) a {
	padding-left: 23px;
}

.footer-navigation-list b {
	margin: 0;
	padding: 0;
	font-weight: 700;
	background-image: url('../img/svg/heart.svg');
	background-position: left center;
	background-repeat: no-repeat;
}

.footer-copyrights {
	margin: 0;
	margin-top: -12px;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

/* Конец блока подвала */